/*font import*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,900&display=swap');
/* universal styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    overflow-x: hidden;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
    font-weight:500;
}

.sidebar{
    width: 22vw;
    height: 100vh;
    background-color: #d6dade;
    position: absolute;
    left: 0;
}
.header{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sidebar_image{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 1px solid black;
    margin: 0 auto;
      position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%,-50%);
}
.sidebar_txt{
    margin-top: 25vh;
    text-align: center;
}
h1{
    font-size: 1.3rem;

}
.caption{
    font-size: 0.8rem;
    letter-spacing: .1rem;
}
.blue{
    color: #367daa;
    font-weight: bolder;
}
.navigation{
    margin-top: 50px;
   

}
.navigation ul{
    text-align: center;
}
.navigation ul li{
    display: block;
    padding: 12px;
}
.active{
    text-decoration: underline;
    color: #367daa;
    text-underline-offset: 3px;
    
}
.footer{
    margin-top: 50px;
    letter-spacing: 5px;
    text-align: center;
}

/* intro styles*/
.main_content{
    position: absolute;
    right: 0;
    width: 72vw;
    display: flex;
    justify-content: space-between;
}
.intro_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}
.text{
    font-size: 3em;
    font-size: bold;
    font-weight: 900;

}
.btn{
    width: 200px;
    height: 38px;
    background-color:#fff;
    border: 2px solid black;
    letter-spacing: 3px;
}
#skills{
    height: 100vh;
    width: 100vw;
    background-color: #fff;
    position: absolute;
    top:100%;
}
.header{
      text-align: center;
      margin-top: 50px;
}
.heading{
    font-size: 2.3em;
    font-weight:900;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.skills{
display: grid;
grid-template-columns: 50% 50%;
align-items: center;

}
.progress_bar{
    width: 300px;
    height: 13px;
    border: 1px solid black;
    border-radius: 15px;
    margin: 20px auto;
    position: absolute;
}
.progress{
    background-color: #367daa;
    
    height: 13px;
    border-top-left-radius: 15px;
    border-bottom-left-radius:15px;
    position: relative;
    top: -1px;
    left: -2px;
}
.html{
    width: 101%;
    border-radius: 15px !important;
}
.css{
    width: 8%;
}
.js{
    width: 40%;
}
.cpp{
    width: 80%;
}
.skills_name{
    position: relative;
    top: 10px;

}
.skills_text{
    margin-left: 20px;
    font-weight: 500;
    font-size:large;
    letter-spacing: 2px;
}
.skills_progress{
    padding: 50px;
}
.name{
    color: #367daa;
} 
ul li{
    margin-top: 10px;
    margin-left: 20px;
    list-style-type: disc;
    color: #0c5685;
}

.about{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    gap: 10px;
 }
 #about_img{
     margin-left: 45px;
     margin-top: 40px;
     height:90%;
     width:80%;
     align-items: center;
 }
 .about_text{
     letter-spacing: 2px;
     font-weight: 500;
     line-height: 30px;
 }

/* contact page */
.cnt_intro_txt{
    font-size: larger;
    font-weight: bold;
    letter-spacing: 2px;
}
#contact_section{
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}
.map_img{
    height: 60vh;
}
.form{
    text-align: center;
}
.form-group{
    width: 500px;
    display: flex;
    gap: 50px;
    margin: 30px;
}
input[type=text]{
    width: 100%;
    height: 60px;
    background-color: rgb(234, 230, 230);
    border: none;
    border-radius: 20px;
    padding: 15px;
    outline: none;
    font-size: larger;
}
input[type=textarea]{
    width: 100%;
    height: 160px;
    background-color: rgb(234, 230, 230);
    padding:15px;
    border: none;
    border-radius: 20px;
    outline: none;
    font-size: larger;
}
input[type=submit]{
    border: none;
    padding: 15px 50px;
    background-color: rgb(8, 8, 8);
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: .8em;
    border-radius: 5px;   
}
input[type=submit]:hover{
    background-color: white;
    color: black;
}
.form-group{
    display: flex;
    justify-content: center;
}